.header-container {
  width: 100vw;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 2px solid var(--button-text-green);
  margin-bottom: 60px;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.acc-btn {
  margin-right: 50px;
  background: none;
  border: none;
  font-size: 15px;
}

.acc-btn:hover{
  transform: scale(1.07) translateY(-1px);
}

.logo{
  max-width: 50px;
}

.btn-header {
  height: 50px;
  width: 150px;
}

/* Popup section */
.popup{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 1366px;
  height: 768px;
  background: #fff
}

.overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

.overlay{
  background: rgba(0, 0, 0,0.7);
}

.popup h2{
  padding: 40px 0 20px 0;
  margin-bottom: 80px;
  font-size: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #f5f7fb;
}

.popup ul li{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
}

.popup ul li .box{
  border: 2px solid var(--button-text-green);
  width: 500px;
  height: 50px;
  line-height: 45px;
  margin-left: 50px;
}

.popup .close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  height: 50px;
  width: 90px;
}

.popup .password-btn{
  margin-top: 60px;
  height: 50px;
  width: 500px;
  margin-bottom: 50px;
}

.popup .submit-btn{
  width: 350px;
  height: 50px;
}