.account-card {
    height: 100%;
    margin: 0 2em 0 2em;
}

.account-pfp {
    margin-right: 1em;
}

.account-pfp > img {
    border-radius: 50%;
}

.account-details {
    display: flex;
    flex-direction: column;
}

.account-info {
    display: flex;
    flex-direction: row;
}