.achievements-page {
  margin: 1%;
}

.achievements-header {
  font-size: 36px;
  padding: 1rem;
}

.achievement-section {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
}

.achievement-card {
  background-color: #222828;
  margin-bottom: 1em;
  margin-inline: 0.5em;
  padding: 0.5em;
  border-radius: 12px;
  width: 250px;
  word-wrap: break-word;
}

.achievement-card:hover {
  background-color: #272d2d;
}

.achievement-info {
  margin-bottom: 0.5em;
  display: flex;
  flex-direction: column;
}

.achievement-title {
  font-size: 20px;
  font-weight: bold;
}

.achievement-description {
  margin-bottom: 0.5em;
  font-size: 12px;
}

.achievement-medal {
  height: 100px;
  object-fit: scale-down;
}

.achievement-disabled-medal {
  height: 100px;
  object-fit: scale-down;
  filter: grayscale(100%);
}