.achievements-page {
  margin: 1%;
}

.achievements-header {
  font-size: 36px;
  padding: 1rem;
}

.achievement-section {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.achievement-card {
  background-color: #222828;
  margin-bottom: 1em;
  margin-inline: 0.5em;
  padding: 0.5em;
  border-radius: 12px;
  width: 350px;
  word-wrap: break-word;
}

.achievement-info {
  margin-bottom: 0.5em;
  display: flex;
  flex-direction: column;
}

.achievement-title {
  font-size: 26px;
  font-weight: bold;
}

.achievement-description {
  font-size: 16px;
}
