.chart-container {
    display: flex;
}

.line-chart {
    flex-direction: column;
}

.checkbox-label {
    display: flex;
    justify-content: center;
    justify-items: center;
}

input[type="checkbox"] {
    accent-color: #00B57F;
}

.custom-tooltip {
    background-color: white;
    border-color: grey;
    border-width: 1px;
    padding: 0.5em 1em 0.5em 1em;
}

.tooltip-label {
    font-weight:bolder;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }