.dashboard {
    width: 100%;
    margin: 5%;
}

.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.dashboard-header {
    /* grid-row: 1; */
    grid-column: 1 12;
    font-size: 3em;
}

.dashboard-left {
    display: flex;
    flex-direction: column;
    grid-column-start: 1;
    grid-column-end: 8;
}

.dashboard-right {
    grid-column-start: 9;
    grid-column-end: 12;
}

.dashboard-money {
    width: 50%;
    /* align-items: stretch;
    align-self: stretch; */
    margin-bottom: 1em;
}

.dashboard-container {
    background-color: #121212;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 16px;
}

.dashboard-amount {
    font-size: 3em;
}

.duration-selector {
    background-color: #00B57F;
    border: none;
    color: white;
    font: inherit;
    font-size: 90%;
    border-radius: 8px;
}

.dashboard-amount-cards {
    display: flex;
    align-items: stretch;
    justify-items: stretch;
    margin: 2em 0em;
}

.dashboard-amount-cards > * {
    /* display: block; */
    margin-left: 1.5em;
  }

  .error {
    color: var(--error-red) !important;
    border-color: var(--error-red) !important;
  }