.header-container {
  width: 100vw;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.header {
  display: flex;
  position: sticky;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  /* position:fixed;   */
  z-index:1; /*Add this*/
  /* margin: 20px; */
  /* border-bottom: 2px solid var(--button-text-green); */
  /* margin-bottom: 60px; */
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.logo{
  /* max-width: 50px; */
  height: fit-content;
}

.logo-text {
  font-weight: 700;
  font-style: italic;
  font-size: 3em;
  font-weight: 700;
  cursor: pointer;
}


.logo-text::after {
  content:"";
  background-image: url(../images/logo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 80px; 
  height: 80px;
  position: absolute;
  transform: translate(14px,-10px);
}

.btn-header {
  /* padding: 2em; */
  height: 50px;
  width: 150px;
}

.btn-ghost {
  color: var(--secondary-yellow);
  border: 3px solid var(--secondary-yellow);
  background-color: transparent;
}

.header-link {
  font-weight: 600;
  cursor: pointer;
}

.header-link:hover {
  color: var(--button-text-green);
}

.header-links > * {
  display: block;
  margin-left: 1.5em;
}