.header-container {
  width: 100vw;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.header {
  display: flex;
  position: sticky;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  top: 20px;
  /* position:fixed;   */
  z-index:1; /*Add this*/
  /* margin: 20px; */
  /* border-bottom: 2px solid var(--button-text-green); */
  /* margin-bottom: 60px; */
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.logo{
  /* max-width: 50px; */
  height: fit-content;
}

.logo-text {
  font-weight: 700;
  font-style: italic;
  font-size: 3em;
  font-weight: 700;
  cursor: pointer;
}


.logo-text::after {
  content:"";
  background-image: url(../images/logo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 80px; 
  height: 80px;
  position: absolute;
  transform: translate(14px,-10px);
}

.btn-header {
  /* padding: 2em; */
  height: 50px;
  width: 150px;
}

.btn-ghost {
  color: var(--secondary-yellow);
  border: 3px solid var(--secondary-yellow);
  background-color: transparent;
}

.header-link {
  font-weight: 600;
  cursor: pointer;
}

.header-links a {
  text-decoration: none;
}

.header-link:hover {
  color: var(--button-text-green);
}

.header-links > * {
  display: block;
  margin-left: 1.5em;
}


/* Popup section */
.popup{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 1366px;
  height: 768px;
  background: #fff;
  z-index: 1;
  text-align: center;
}

.overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

.overlay{
  background: rgba(0, 0, 0,0.7);
}

.popup h2{
  padding: 40px 0 20px 0;
  margin-bottom: 120px;
  font-size: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #f5f7fb;
}

.popup ul li{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
}

.popup ul li .box{
  border: 2px solid var(--button-text-green);
  width: 500px;
  height: 50px;
  line-height: 45px;
  margin-left: 50px;
}

.popup .close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 50px;
  width: 90px;
}
