/* PAYMENT PAGE */

.payments-page {
  margin: 1%;
}

.payments-top {
  margin-bottom: 0.5rem;
}

.payments-header {
  background-color: #00b57f;
  display: inline-flex;
  font-size: 36px;
  border-radius: 16px;
  padding: 1rem;
  margin-right: 0.5rem;
}

.payments-filter-by-section {
  background-color: #00b57f;
  display: inline-flex;
  border-radius: 16px;
  padding: 1rem;
  margin-right: 0.5rem;
  float: right;
}

.payments-filter-by-text {
  padding: 0.2rem;
  margin-right: 0.2rem;
}

.payments-filter-by {
  padding: 0.2rem;
  width: 100px;
  margin-right: 0.5rem;
}

.payments-sort-by-section {
  background-color: #00b57f;
  display: inline-flex;
  border-radius: 16px;
  padding: 1rem;
  float: right;
}

.payments-sort-by-text {
  padding: 0.2rem;
  margin-right: 0.2rem;
}

.payments-sort-by {
  padding: 0.2rem;
  width: 135px;
}

.payments-sort-by option:nth-child(2n + 1),
.payments-filter-by option:nth-child(2n + 1) {
  background-color: lightgreen;
}

.payments-sort-by option:nth-child(2n + 0),
.payments-filter-by option:nth-child(2n + 0) {
  background-color: lightpink;
}

.payments-add-payment {
  margin-bottom: 0.5rem;
  background-color: #00b57f;
  border-radius: 16px;
  padding: 1rem;
}

.payments-add-payment:hover {
  background-color: #00955f;
  color: beige;
  cursor: pointer;
}

.payments-plus-icon {
  float: right;
  font-size: 24px;
}

.payments-container {
  background-color: #00b57f;
  color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 16px;
}

/* PAYMENT CARD */

.payment-card {
  background-color: #00955f;
  margin-bottom: 0.5em;
  padding: 0.5em;
  border-radius: 12px;
  width: 100%;
  word-wrap: break-word;
  display: grid;
  grid-template-columns: 10% 90%;
  justify-content: space-between;
  flex-flow: row wrap;
}

.payment-card:hover {
  background-color: #00a56f;
  color: beige;
}

.payment-card:last-child {
  margin-bottom: 0;
}

.payment-category {
  padding: 0.2rem;
  text-decoration: underline;
}

.payment-card-top {
  width: 100%;
  display: grid;
  grid-template-columns: 90% 10%;
  justify-content: space-between;
  flex-flow: row wrap;
}

.payment-card-middle {
  width: 100%;
  display: grid;
  grid-template-columns: 95% 5%;
  justify-content: space-between;
  flex-flow: row wrap;
}

.payment-card-bottom {
  width: 100%;
  display: block;
}

.payment-info {
  display: flex;
  flex-direction: column;
}

.payment-title {
  font-size: 1.5em;
  font-weight: bolder;
}

.payment-amount {
  text-align: right;
  font-size: 1.3em;
  color: darkred;
}

.payment-description {
  font-style: italic;
}

.payment-edit-delete-icons {
  display: block;
}

.payment-edit-icon {
  color: orange;
  border: none;
  border-radius: 6px;
  float: right;
}

.payment-edit-icon:hover {
  color: orangered;
  cursor: pointer;
}

.payment-delete-icon {
  color: crimson;
  border: none;
  border-radius: 6px;
  float: right;
}

.payment-delete-icon:hover {
  color: darkred;
  cursor: pointer;
}

.payment-confirm-icon {
  color: greenyellow;
  border: none;
  border-radius: 6px;
  float: right;
}

.payment-confirm-icon:hover {
  color: green;
  cursor: pointer;
}

.payment-cancel-icon {
  color: crimson;
  border: none;
  border-radius: 6px;
  float: right;
}

.payment-cancel-icon:hover {
  color: darkred;
  cursor: pointer;
}

.payment-date {
  font-weight: bolder;
}

.payment-image-button {
  background-color: limegreen;
  color: black;
  border: none;
  border-radius: 6px;
  padding: 4px;
  margin-inline: 3px;
  margin-inline-end: 0;
  float: right;
}

.payment-image-button:hover {
  background-color: #00955f;
  color: beige;
  cursor: pointer;
}

.payment-image {
  object-fit: scale-down;
  width: 100%;
  height: 100%;
}
